@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container  {
  width: 80%;
  margin: 0 auto;
}



nav {
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 60px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 60px;
}

ul li a {
  text-decoration: none;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.33px;
  color: #363853;
}

ul li a:hover {
  color: #FF6838;
}



.icons {
  display: flex;
  gap: 60px;
}


.icon {
  color: #363853;
  font-size: 20px;
  cursor: pointer;
}

.icon:hover {
  color: #FF6838;
}

.nav-btn {
  color: white;
  background-color: #FF6838;
  box-shadow: 0px 22px 40px 0px #FF683830;
  border-radius: 5px;
  border: none;
  padding: 14px 28px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.33px;
  text-align: center;
}


header {
  margin-top: 104px;
}

header .row {
  display: flex;
  justify-content: space-between;
}


.header-left h1 {
  margin-top: 115px;
  width: 530px;
  font-family: Rubik;
  font-size: 66px;
  font-weight: 500;
  line-height: 78.21px;
  color: #363853;
  margin-bottom: 28px;
}


.header-left h1 span {
  color: #FF6838;
}

.header-left p {
  font-family: Rubik;
  margin-bottom: 44px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #363853;
}

.row-2 {
  display: flex;
  align-items: center;
  gap: 30px;
}


.row-2 a {
  color: #363853;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.7px;
  text-align: center;
}
.h1-2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 500;
  line-height: 50px;
  width: 384px;
  height: 100px;
  margin: 0 auto;
}
span {
  color: #FF6838;
}
p {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  width: 449px;
  height: 103px;
  margin: 0 auto;
  margin-top: 95px;
}
main {
  display: flex;
  align-items: center;
}
.delivery-btn {
  width: 176px;
  height: 58px;
  border-radius: 30px 30px 1px 30px;
  background-color: #FF6838;
  border: none;
  color: white;
  margin-top: 141px;
}
.card {
  width: 361px;
  height: 417px;
  margin-top: 124px;
  justify-content: space-between
}
.row-3 {
  display: flex;
  flex-wrap: wrap;
  gap: 43px;
  padding: 47px;
}
.h1-3 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;
  margin-left: 450px;
}
.boxx {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color:gainsboro;
  width: 361px;
  border-radius: 0 0 50px 0;
  height: 200px;
}
.boxx h4 {
  font-family: Rubik;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 22px;
  display: flex;
  height: 50px;
  padding: 20px;
}

.right2 {
  margin-left: 150px;
  margin-top: 155px;
}

.row-4 {
  display: flex;
  align-items: center;
}
.left2 h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 500;
  line-height: 50px;
  margin-left: 50px;
}

.loa {
  margin-top: 40px;
  margin-left: 50px;
}
.left2 p {
  margin-left: 50px;

}
.rrow {
  width: 79px;
  margin-left: 250px;
  height: 33px;
  border-radius: 20px 20px 0px 20px;
  background-color: #FF7A50;
  border: none;  

}
.boxx p {
  height: 20px;
  margin: 0 auto;
  padding: 20px;
}



.row-5 {
  width: 1170px;
  height: 312px;
  background-color:#FF7A50 ;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 110px;
}
.ro5 {
  font-family: Rubik;
  font-size: 40px;
  font-weight: 500;
  line-height: 47.4px;
  text-align: center;
  padding-top: 59px ;
  color: white;
}
.btnn {
  width: 838.5px;
  height: 78px;
  border-radius: 70px;
  text-align: left;
  padding-right: 500px;
  border: none;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  justify-content: center;
  color: #363853;
  margin-top: 72px;
  margin-left: 165px;
}
.a-1 {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.a-3 {
  font-family: Rubik;
}
.a-4 {
  font-family: Rubik;
}
.a-5 {
  font-family: Rubik;
}
.row-6 {
  color: #646464;
  display: flex;
  justify-content: center;
}